BraveSoftware
Code
autostart
chromium
dconf
enchant
evince
evolution/sources
gnome-control-center/backgrounds
goa-1.0
google-chrome/NativeMessagingHosts
google-chrome-beta/NativeMessagingHosts
google-chrome-unstable/NativeMessagingHosts
gsconnect
gtk-3.0
gtk-4.0
ibus/bus
kitty
libreoffice/4
microsoft-edge-beta/NativeMessagingHosts
microsoft-edge-dev/NativeMessagingHosts
nautilus
pulse
tmux/plugins
totem
touchegg
yazi
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
QtProject.conf
dleyna-renderer-service.conf
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
rygel.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
